<div>
	<h3>{{ conference.title }} <small><span [class]="status_classes[conference.status]">{{ conference.status_text }}</span></small></h3>
	<div style="margin-bottom: 10px;">
		From <span class="badge badge-secondary">{{ conference.start_display }}</span> till <span class="badge badge-secondary">{{ conference.end_display }}</span>
	</div>
	<div *ngIf="conference.status == 0" class="alert alert-info">
		<i class="far fa-clock"></i> Connect in {{ conference.start_display_f }}
	</div>
	<div *ngIf="conference.status == 1" class="alert alert-warning">
		<i class="fas fa-exclamation-triangle"></i> Should have connected {{ conference.start_display_f }}
	</div>
	<div class="card">
		<div class="card-header">
			Participants
		</div>
		<div class="card-body">
			<div *ngFor="let participant of conference.participants" style="padding: 5px;border-bottom: solid 1px #ccc;margin-bottom: 5px;">
				<h5>{{ participant.name }}</h5>
				<div>
					<small>
						<span *ngIf="participant.status == 0" class="badge badge-secondary">Not Connected</span>
						<span *ngIf="participant.status == 1" class="badge badge-success">Connected</span>
					</small> . 
					<small>
						<a [href]="'mailto:'+participant.email"><span class="badge badge-primary">{{ participant.email }}</span></a>
					</small> . 
					<small>
						<span class="badge badge-warning">@ {{ getRoom(participant.room) }}</span>
					</small>
				</div>
			</div>
		</div>
	</div>
</div>