<h3>Configuration - Home</h3>
<div class="list-group" style="width:600px;">
	<a routerLink="/configure/location" class="list-group-item">
		Configure Locations
	</a>
	<a routerLink="/configure/department"  class="list-group-item">
		Configure Departments
	</a>
	<a routerLink="/configure/endpoint"  class="list-group-item">
		Configure Endpoints
	</a>
	<a routerLink="/configure/mailing-location" class="list-group-item">
		Configure Location base Mailing list
	</a>
	<a routerLink="/configure/mailing-mandatory"  class="list-group-item">
		Configure Mandatory Mailing list
	</a>
	<a routerLink="/configure/user" class="list-group-item">
		Configure User Logins
	</a>
</div>